/* global element styling */

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAF8BF;
  font-family: 'Lato', sans-serif;
  color: #001D4A;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
  text-align: left;
}

a {
  color: #0D1B2A;
  text-decoration: none;
  
}

/* global classes styling */

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
 }

.grid {
  display: flex;
  padding-top: 50px;
  padding-left: 00px;
  
 
}

header {
  position: fixed;
  top: 0;
  font-size: 18px;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ECA400;
  
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: bold;
  
}

@media (max-width: 650px) {
  nav {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}


#aboutus {
  margin-top: 30px;
}


#aboutus .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 80vw;
  padding: 10px;  
}

@media (max-width: 550px) {
  #aboutus .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #aboutus {
    margin-top: 0;
  }
}

#news-link {
    font-size: 16px;
    font-weight: bold;
   }
 
#how-it-works {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align:center;
  margin-bottom: 10px;
  font-size: 28px;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#games {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  font-size: 20px;
  background-color: #9bc1bc;
  color: #001d4a;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
 
}

.product > h2 {
  margin-top: 15px;
  font-size: 18px;
}

.product > ul {
  margin: 15px 0;
}

.product > ul > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  color: #E0E1DD;
  background-color: #007ea7;
  font-weight: 400;
}

.product > button:hover {
  background-color: #003459;
  transition: background-color 1s;
}


@media (max-width: 800px) {
  #games {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}


#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#signup > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
  font-size: 18px;
}

#signup input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 10px;
}

#signup input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #ECA400;
}

#signup input[type="submit"]:hover {
  background-color: #f46036;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #signup {
    margin-top: 120px;
  }
}

footer {
  margin-top: 30px;
  background-color: #eca400;
  padding: 20px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #001d4a;
}